<header> 
  <div class="container-lg d-flex flex-column flex-lg-row justify-content-between px-0 py-1">

    <div class="container-lg d-flex align-items-center justify-content-between">
      <a class="m-2 text-white text-decoration-none link-warning" routerLink="/home">
        <strong> {{ 'Header.Title-Logo' | translate }} </strong>
      </a>
      <nav [ngClass]="{'menu-open': menuOpened}" class="burger d-lg-none d-flex align-items-center mx-2" (click)="toggleMenu()">
        <div class="line-wrapper px-1">
          <span [ngClass]="{'bg-warning': menuOpened}" class="line d-block"></span>
          <span class="line d-block"></span>
          <span [ngClass]="{'bg-warning': menuOpened}" class="line d-block"></span>
        </div>
      </nav>
    </div>

    <nav [class.menu-open]="menuOpened" class="links-menu-wrapper d-none d-lg-flex align-items-center justify-content-end">
      <ul [class.menu-open]="menuOpened" class="links-menu-list list-unstyled d-flex mb-0">
        <li>
          <a routerLink="/home" (click)="closeMenuIfOpened()" class="d-block p-3 text-decoration-none text-black fw-semibold text-white link-warning"> {{ 'Header.Home' | translate }} </a>
        </li>
        <li>
          <a routerLink="/about" (click)="closeMenuIfOpened()" class="d-block p-3 text-decoration-none text-black fw-semibold text-white link-warning"> {{ 'Header.About' | translate }} </a>
        </li>
        <li>
          <a routerLink="/contact" (click)="closeMenuIfOpened()" class="d-block p-3 text-decoration-none text-black fw-semibold text-white link-warning"> {{ 'Header.Contact' | translate }} </a>
        </li>
        <li id="dropdown">
          <div id="dropdown-wrapper">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ 'Header.imgSrc' | translate }}" alt="{{ 'Header.imgAlt' | translate }}" class="flag-img">
            </button>
            <ul id="dropdown-list" class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" [ngClass]="{'active': languageRoSelected}"  href="#" (click)="translate.use('ro'); dropdownSelectLanguage('ro')">
                  <img src="https://firebasestorage.googleapis.com/v0/b/sa-project-11a2c.appspot.com/o/flags%2Fro.svg?alt=media&token=4e6c4530-6318-4ecc-b214-2a141df2182b" alt="flag romanian language" class="flag-img">
                  Română
                </a>
              </li>
              <li>
                <a class="dropdown-item" [ngClass]="{'active': languageEnSelected}" href="#" (click)="translate.use('en'); dropdownSelectLanguage('en')">
                  <img src="https://firebasestorage.googleapis.com/v0/b/sa-project-11a2c.appspot.com/o/flags%2Feu.svg?alt=media&token=c4f55191-b930-452e-9645-06b742f76b0e" alt="flag english language" class="flag-img">
                  English
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>

  </div>
</header>