<header> 
  <div class="container-lg d-flex flex-column flex-lg-row justify-content-between px-0 py-1"> 
    <div class="container-lg d-flex justify-content-between">
      <a class="m-2 text-white text-decoration-none" href="#">
        <strong> Tenis De Masă Sibiu </strong>
      </a>
      <nav [class.menu-open]="menuOpened" (click)="toggleMenu()" class="burger d-lg-none d-flex align-items-center mx-2">
        <div class="line-wrapper px-1">
          <span class="line d-block"></span>
          <span class="line d-block"></span>
          <span class="line d-block"></span>
        </div>
      </nav>
    </div>
    <nav id="links-menu-wrapper" class="d-none d-lg-flex align-items-center justify-content-end">
      <ul id="links-menu-list" class="list-unstyled d-flex mb-0">
        <li>
          <a href="#" class="d-block p-3 text-decoration-none text-black fw-semibold"> Home </a>
        </li>
        <li>
          <a href="#" class="d-block p-3 text-decoration-none text-black fw-semibold"> About us </a>
        </li>
        <li>
          <a href="#" class="d-block p-3 text-decoration-none text-black fw-semibold"> Contact </a>
        </li>
      </ul>
    </nav>
  </div>
</header>