<header class="position-fixed container-fluid">
  <div class="container-xxl d-flex justify-content-between align-items-center">
    <a class="d-block p-3 text-white text-decoration-none link-warning" href="#">
      <strong> Tenis De Masă Sibiu </strong>
    </a>
    <nav class="position-relative">
              <!-- Iconita de meniu + checkbox-ul sunt pentru mobil. -->
                    <span class="material-icons text-light"> menu </span>
              <input type="checkbox" class="container-xxl position-absolute h-100 top-0 start-0 opacity-0" aria-pressed="true" role="button">
                    <ul class="list-unstyled">
                      <li>
                          <a href="#" class="d-block p-3 text-white text-decoration-none link-warning"> Acasă </a>
                      </li>
                <li>
                          <a href="pages/about.html" class="d-block p-3 text-white text-decoration-none link-warning"> Despre Noi </a>
                      </li>
                      <li>
                      <a href="pages/contact.html" class="d-block p-3 text-white text-decoration-none link-warning"> Contact </a>
                      </li>
                    </ul>
    </nav>
  </div>
</header>
