<div class="main" *ngIf="!menuOpened">

  <!-- Welcome section -->
  <section class="welcome d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h1> My Account </h1>
    </div>
  </section>

  <!-- Main section -->
  <section class="bg-white p-4">

    <!-- Sidebar navigation -->
        <div class="d-flex justify-content-center align-items-center">
          <ul class="nav justify-content-center">
            <li>
              <a class="nav-link">
                <i class="fas fa-user"></i> My User Data
              </a>
            </li>
            <li>
              <a class="nav-link">
                <i class="fa-sharp fa-solid fa-table-tennis-paddle-ball"></i> Programs Data
              </a>
            </li>
            <li>
              <a class="nav-link">
                <i class="fas fa-comment-dots"></i> Contact Data
              </a>
            </li>
            <li>
              <a class="nav-link">
                <i class="fa-solid fa-newspaper"></i> Newsletter Data
              </a>
            </li>
            <li>
              <a class="nav-link">
                <i class="fa-solid fa-users"></i> Users Data
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li>
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i> Log out
              </a>
            </li>
          </ul>
        </div>


    <!-- Child components -->
    <app-my-user-data></app-my-user-data>
    <app-programs-data></app-programs-data>
    <app-contact-data></app-contact-data>
    <app-newsletter-data></app-newsletter-data>
    <app-users-data></app-users-data>

  </section>

</div>