<div class="main" *ngIf="!menuOpened">

  <!-- Welcome section -->
  <section class="welcome d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h1> My Account </h1>
    </div>
  </section>

  <!-- Main section -->
  <section class="bg-white p-4">

    <!-- Navigation -->
        <div class="d-flex justify-content-center align-items-center pb-2">
          <ul class="nav justify-content-center">
            <li>
              <a class="btn text-black link-warning"
                [ngClass]="{'active': myaccountSectionSelected == 'My Profile'}" (click)="myaccountSectionSelect('My Profile')">
                <i class="fas fa-user"></i> My Profile
              </a>
            </li>
            <li>
              <a class="btn text-black link-warning"
                [ngClass]="{'active': myaccountSectionSelected == 'Programs'}" (click)="myaccountSectionSelect('Programs')">
                <i class="fa-sharp fa-solid fa-table-tennis-paddle-ball"></i> Programs
              </a>
            </li>
            <li>
              <a class="btn text-black link-warning"
                [ngClass]="{'active': myaccountSectionSelected == 'Contact'}" (click)="myaccountSectionSelect('Contact')">
                <i class="fas fa-comment-dots"></i> Contact
              </a>
            </li>
            <li>
              <a class="btn text-black link-warning"
              [ngClass]="{'active': myaccountSectionSelected == 'Newsletter'}" (click)="myaccountSectionSelect('Newsletter')">
                <i class="fa-solid fa-newspaper"></i> Newsletter
              </a>
            </li>
            <li>
              <a class="btn text-black link-warning"
                [ngClass]="{'active': myaccountSectionSelected == 'Users'}" (click)="myaccountSectionSelect('Users')">
                <i class="fa-solid fa-users"></i> Users
              </a>
            </li>
            <!-- Call SignOut() Api from AuthService -->
            <li>
              <a class="btn text-black link-warning" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i> Log out
              </a>
            </li>
          </ul>
        </div>


    <!-- Child components -->
    <app-my-profile *ngIf="myaccountSectionSelected == 'My Profile'"></app-my-profile>
    <app-programs *ngIf="myaccountSectionSelected == 'Programs'"></app-programs>
    <app-contacts *ngIf="myaccountSectionSelected == 'Contact'"></app-contacts>
    <app-newsletter *ngIf="myaccountSectionSelected == 'Newsletter'"></app-newsletter>
    <app-users *ngIf="myaccountSectionSelected == 'Users'"></app-users>

  </section>

</div>