<!-- Show user data when logged in -->
<div class="container text-center mb-3" *ngIf="authService.userData as user">
  <div class="card p-2">
    <div class="card-title d-flex justify-content-center align-items-center">
      <h5> {{ 'My-Profile.Title' | translate }} </h5>
    </div>
    <div>
      <div class="card-table">
        <p> {{ 'My-Profile.Name' | translate }} <strong> {{ (user.displayName) ? user.displayName : userName }} </strong></p>
        <p> {{ 'My-Profile.Email' | translate }} <strong> {{ user.email }} </strong></p>
        <p>
          {{ 'My-Profile.Email-Verified' | translate }}
          <strong> {{ user.emailVerified ? ('My-Profile.Email-Verified-True' | translate) : ('My-Profile.Email-Verified-False' | translate) }} </strong>
        </p>
      </div>
    </div>
  </div>
</div>