<div class="main" *ngIf="!(menuService.menuOpened$ | async)">
  
  <section class="welcome-section-25vh d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h1> {{ 'Login.Welcome-Title' | translate }} </h1>
    </div>
  </section>

  <section class="section-50vh bg-white p-4 d-flex justify-content-center align-items-center">

    <div class="d-flex flex-column align-items-center justify-content-center">

      <p class="text-center"> <strong> {{ 'Login.Form.Title' | translate }} </strong></p>
     
      <form 
        #form='ngForm'
        [formGroup]="loginForm"
        (ngSubmit)="formSubmit(form.value)"
        class="d-flex flex-column m-2 w-100"
      >

        <label for="email"> {{ 'Login.Form.Email.Label' | translate }} </label>
        <input type="email"
          formControlName="email"
          name="email"
          placeholder="{{ 'Login.Form.Email.Placeholder' | translate }}"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(loginForm.controls.email.invalid && loginForm.controls.email.dirty)
            || (loginForm.controls.email.invalid && form.submitted)"
          class="alert alert-danger">
            {{ 'Login.Form.Email.Invalid-Message' | translate }}
        </small>

        <label for="password"> {{ 'Login.Form.Password.Label' | translate }} </label>
        <input type="password"
          formControlName="password"
          name="password"
          placeholder="{{ 'Login.Form.Password.Placeholder' | translate }}"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(loginForm.controls.password.invalid && loginForm.controls.password.dirty)
            || (loginForm.controls.password.invalid && form.submitted)"
          class="alert alert-danger">
            {{ 'Login.Form.Password.Invalid-Message' | translate }}
        </small>
        
        <app-button type="submit" title="{{ 'Login.Form.Submit-Button-Text' | translate }}"></app-button>
      </form>

      <div class="btn text-success link-warning">
        <span routerLink="/forgot-password"> {{ 'Login.Forgot-Password' | translate }} </span>
      </div>
      <div>
        <span class="align-middle"> {{ "Login.Don't-have-an-account" | translate }} </span>
        <span class="btn text-success link-warning" routerLink="/register"> {{ 'Login.Register' | translate }} </span>
      </div>

    </div>
  </section>
</div>
