<!-- <div class="d-flex flex-column"> -->

<div>
  <section class="vh-100 d-flex align-items-center text-white">
        <div class="container">
            <h1> Bine ai venit! </h1>
            <p>
        Sunt Claudia Bînţă, instructor tenis de masă de peste 20 ani și te învăț cu drag tainele acestui sport.
      </p>
      <p class="pb-2">
        Cursuri de tenis de masă pentru copii și adulţi în Sibiu!
      </p>
            <a class="button text-white rounded p-2 border border-success border-1 bg-success bg-gradient link-warning text-decoration-none" href="#slider"> AFLĂ MAI MULTE </a>
        </div>
  </section>
  <section id="slider" class="d-flex vh-100 align-items-center justify-content-center text-white">
    <div class="slider w-75 h-50 position-relative overflow-hidden border border-1 rounded d-flex align-items-center text-center">
      <div class="slide w-100 position-absolute">
        <h1 class="p-3"> Care sunt beneficiile tenisului de masă? </h1>
        <a class="text-white rounded p-2 bg-success bg-gradient link-warning text-decoration-none" href="#beneficii"> AFLĂ MAI MULTE </a>
      </div>
      <div class="slide w-100 position-absolute">
        <h1 class="p-3"> De ce să practici tenis de masă? </h1>
        <a class="text-white rounded p-2 bg-success bg-gradient link-warning text-decoration-none" href="#deCeTenis"> AFLĂ MAI MULTE </a>
      </div>
      <div class="slide w-100 position-absolute">
        <h1 class="p-3"> Cursuri </h1>
        <a class="text-white rounded p-2 bg-success bg-gradient link-warning text-decoration-none" href="#cursuri"> AFLĂ MAI MULTE </a>
      </div>
      <div class="slide w-100 position-absolute">
        <h1 class="p-3"> Despre Noi </h1>
        <a class="text-white rounded p-2 bg-success bg-gradient link-warning text-decoration-none" href="pages/about.html"> AFLĂ MAI MULTE </a>
      </div>
      <div class="slide w-100 position-absolute">
        <h1 class="p-3"> Contact </h1>
        <a class="text-white rounded p-2 bg-success bg-gradient link-warning text-decoration-none" href="pages/contact.html"> CONTACTEAZĂ-NE </a>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section class="beneficii bg-white pt-4 pb-2">
    <div id="beneficii" class="container mb-4 pt-4 border border-1 rounded">
      <h2 class="title text-center"> Care sunt beneficiile? </h2>
      <img src="img/beneficii_tenis_de_masa_copii.jpg" alt="Beneficii tenis de masa copii" class="w-100 rounded mb-2">
      <p class="text">
        În ultima perioadă am fost întrebată la ce ajută acest sport și cum poate dezvolta el armonios 
        un copil, ”că doar primește o bilă și o paleta copilul și nimerește și el cum poate masa aia”.
        <br><br>
        Antrenamentul nostru este mai mult decât atât! Este construit din teme ce îi permit copilului 
        să-și dezvolte reacțiile și coordonarea întregului corp.
        <br><br>
        Un alt aspect important pentru noi îl 
        reprezintă încălzirea corpului, adică pregătirea lui pentru efort, un lucru esențial pentru 
        evitarea accidentărilor.
        <br><br>
        Continuăm cu exerciții pentru atenție și concentrare și ne înarmăm cu multă răbdare și cuvinte 
        de încurajare (copilul trebuie susținut, felicitat pentru fiecare reușită, ceea ce ar trebui să 
        facem cât mai des cu putință).
        <br><br>
        Antrenamentul se sfârșește doar după ce facem stretching (exerciții pentru flexibilitate, mobilitate 
        și pentru revenirea după efort).
      </p>
        </div>
    <div id="deCeTenis" class="container mb-4 pt-4 border border-1 rounded">
          <h2 class="title text-center"> De ce tenis de masă? </h2>
      <img src="img/tenis_de_masa_copii.jpg" alt="Tenis de masa copii" class="w-100 rounded mb-2">
      <div class="text">
              <h6 class="text-center"> Îți dorești să-ți dai copilul la un sport, însă nu știi ce sport i s-ar potrivi? </h6>
              <h6 class="text-center"> Ai vrea să facă mai multă mișcare și să stea mai puțin cu ochii în calculator? </h6>
              <h6 class="text-center"> Vrei să fie mai sociabil și mai atent și crezi că sportul l-ar ajuta? </h6>
        <p>
          Motivele pentru care îți dorești să îți îndrumi copilul către sport sunt nenumărate, însă îți voi 
          enumera mai jos și câteva beneficii pe care le poate avea tenisul de masă asupra copilului tău:
          <br>
          👉 Ajută la dezvoltarea coordonării și a reflexelor, tot corpul fiind în armonie pentru a putea lovi mingea;
          <br>
          👉 Viteza cu care se desfășoară jocul necesită o concentrare ridicată, iar prin practicarea regulată se pot 
          observa îmbunătățiri ale capacității de concentrare și atenție la școală sau în rutina zilnică;
          <br>
          👉 Este util pentru întărirea mușchilor și ajută la dezvoltarea echilibrului;
          <br>
          👉 Este un sport individual care îi va dezvolta copilului autonomia și capacitatea de a lua decizii proprii;
          <br>
          👉 Vederea este stimulată și dezvoltată;
          <br>
          👉 Este ideal pentru a socializa și pentru a-și face prieteni noi;
          <br>
          👉 Există puține situații în care tenisul de masă nu este recomandat și poate constitui un ajutor în ceea ce 
          privește integrarea copiiilor cu dizabilități în societate.
          <br>
          👉 Este un sport accesibil ca preț, la început nefiind necesară achiziționarea unui echipament, ci doar a 
          unui antrenor și a orele de joc;
          <br>
          👉 Nu este un sport de contact, iar accidentările sunt rare.
        </p>
      </div>
    </div>
    <div id="cursuri" class="container mb-4 pt-4 border border-1 rounded">
      <h2 class="title text-center"> Cursuri </h2>
      <img src="img/cursuri_tenis_de_masa_copii_sibiu.jpg" alt="Cursuri tenis de masa copii sibiu" class="w-100 rounded mb-2">
      <div class="cursuri text-center pb-2">
        👉 Cursurile se desfășoară în Sibiu, pe strada August Treboniu Laurean, nr. 2/4 lângă sala de bowling.
        <br><br>
        <strong> Abonament Kids tenis de masă (8) </strong>
        <br>
          👉 Prețul este valabil pentru 8 sedințe / lună, marți şi joi (câte două antrenamente pe săptămână). 
        <br><br>
        <strong> Abonament Kids tenis de masă (4) </strong>
        <br>
          👉 Prețul este valabil pentru 4 sedințe / lună, marți sau joi, o zi la alegere (câte un antrenament pe 
          săptămână).
        <br><br>
          ❕ Abonamentele sunt valabile pentru copiii cu vârste cuprinse între 8 şi 12 ani. ❕
        <br><br>
        👉 Pentru detalii și rezervări <span><a href="pages/contact.html" class="text-warning link-success text-decoration-none"> CONTACTEAZĂ-NE </a></span>
        <br><br>
        <strong> PROGRAMUL ACTUALIZAT AL CURSURILOR: </strong>
        <br>
        <div class="scrolling-text-wrapper position-relative overflow-hidden border border-success rounded m-auto">
          <p class="scrolling-text position-absolute text-nowrap"></p>
        </div>
      </div>
        </div>
  </section>
</div>

<!-- <div> -->