/* || Cards */
.container {
  max-width: 95%;
  white-space: pre-line; /* needed for having break lines in HTML page from the cardsData text fields */
}

img {
	filter: grayscale(70%);
  max-width: 500px;
}

	img:hover {
		filter: grayscale(0);
	}

  /* || Desktop view */
	@media (min-width: 992px) {
		.container {
			display: grid;
			grid-template-areas:
				'image title'
				'image text';
			gap: 1rem;
		}

			.container img {
				width: 400px;
				grid-area: image;
				align-self: center;
			}

			.container .title {
				grid-area:title;
				align-self: end;
			}
			
			.container .text {
				grid-area: text;
				align-self: start;
			}
	}