<div class="main" *ngIf="!(menuService.menuOpened$ | async)">
  
  <section class="welcome-section-50vh d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h1> {{ 'Contact.Welcome-Title' | translate }} </h1>
    </div>
  </section>

  <section class="contact bg-white p-2">

    <div class="text-center">
      <h2> {{ 'Contact.Section.Title' | translate }} </h2>
      <p class="main-paragraph">
        {{ 'Contact.Section.Text' | translate }}
      </p>
    </div>

    <div class="contact-wrapper d-flex flex-column flex-lg-row align-items-center justify-content-center">

      <div class="contact-info d-flex flex-column w-100 text-center mx-4 mb-5">
        <p class="contact-title"><strong> {{ 'Contact.Details.Title' | translate }} </strong></p>
        <ul class="ps-0">
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-solid fa-mobile-screen-button"></i>
              {{ 'Contact.Details.Mobile' | translate }}
            </p>
            <a class="text-secondary link-warning" href="tel:0765429860" title="Call 0040765429860"> +40 765 429 860 </a>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-solid fa-envelope"></i>
              {{ 'Contact.Details.Email' | translate }}
            </p>
            <a class="text-secondary link-warning" href="mailto:binta.claudia@gmail.com"> binta.claudia@gmail.com </a>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom">
            <p class="m-0">
              <i class="fa-brands fa-facebook"></i>
              {{ 'Contact.Details.Social-Media' | translate }}
            </p>
            <a class="text-secondary link-warning" href="https://www.facebook.com/instructortenisdemasasibiu" target="_blank"> /instructortenisdemasasibiu </a>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-regular fa-clock"></i>
              {{ 'Contact.Details.Schedule.Title' | translate }}
            </p>
            <p class="description m-0">
              {{ 'Contact.Details.Schedule.Day-1' | translate }} 16:30 - 20:00
              <br>&nbsp;&nbsp;&nbsp;
              {{ 'Contact.Details.Schedule.Day-2' | translate }} 16:30 - 20:00
            </p>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-solid fa-location-dot"></i>
              {{ 'Contact.Details.Location' | translate }}
            </p>
            <a class="description text-secondary link-warning" href="https://goo.gl/maps/qDg4pNhqZoJK9GuZA" target="_blank"> August Treboniu Laurian 2-4, Sibiu </a>
          </li>
        </ul>
        <iframe
          class="google-maps border border-success rounded"
          src="https://maps.google.com/maps?q=Strada%20August%20Treboniu%20Laurian%202-4,%20Sibiu,%20Romania&t=&z=15&ie=UTF8&iwloc=&output=embed">
        </iframe>
      </div>

      <form 
        #form='ngForm'
        [formGroup]="contactForm"
        (ngSubmit)="formSubmit(form.value)"
        class="contact-form d-flex flex-column m-2 w-100"
      >

        <p class="contact-form-title text-center"> <strong> {{ 'Contact.Form.Title' | translate }} </strong></p>

        <label for="name"> {{ 'Contact.Form.Name.Label' | translate }} </label>
        <input type="text"
          formControlName="name"
          name="name"
          placeholder="{{ 'Contact.Form.Name.Placeholder' | translate }}"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(contactForm.controls.name.invalid && contactForm.controls.name.dirty)
            || (contactForm.controls.name.invalid && contactFormSubmitted)"
          class="alert alert-danger">
            {{ 'Contact.Form.Name.Invalid-Message' | translate }}
        </small>
        
        <label for="email"> {{ 'Contact.Form.Email.Label' | translate }} </label>
        <input type="email"
          formControlName="email"
          name="email"
          placeholder="{{ 'Contact.Form.Email.Placeholder' | translate }}"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(contactForm.controls.email.invalid && contactForm.controls.email.dirty)
            || (contactForm.controls.email.invalid && contactFormSubmitted)"
          class="alert alert-danger">
            {{ 'Contact.Form.Email.Invalid-Message' | translate }}
        </small>

        <label for="subject"> {{ 'Contact.Form.Subject.Label' | translate }} </label>
        <input type="text"
          formControlName="subject"
          name="subject"
          placeholder="{{ 'Contact.Form.Subject.Placeholder' | translate }}"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(contactForm.controls.subject.invalid && contactForm.controls.subject.dirty)
            || (contactForm.controls.subject.invalid && contactFormSubmitted)"
          class="alert alert-danger">
            {{ 'Contact.Form.Subject.Invalid-Message' | translate }}
        </small>

        <label for="message"> {{ 'Contact.Form.Message.Label' | translate }} </label>
        <textarea
          formControlName="message"
          name="message"
          placeholder="{{ 'Contact.Form.Message.Placeholder' | translate }}"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''"> </textarea>
        <small
          *ngIf="(contactForm.controls.message.invalid && contactForm.controls.message.dirty)
            || (contactForm.controls.message.invalid && contactFormSubmitted)"
          class="alert alert-danger">
            {{ 'Contact.Form.Message.Invalid-Message' | translate }}
        </small>
        
        <app-button type="submit" title="{{ 'Contact.Form.Submit-Button-Text' | translate }}"></app-button>
      </form>

    </div>
  </section>
</div>