<div class="main" *ngIf="!menuOpened">
  
  <section class="welcome d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h1> Contact </h1>
    </div>
  </section>

  <section class="contact bg-white p-2">

    <div class="text-center">
      <h2> Informaţii generale </h2>
      <p class="main-paragraph">
        Nu ai găsit ce căutai sau te putem ajuta şi cu alte informaţii?
        Suntem aici să te ajutăm.
      </p>
    </div>

    <div class="contact-wrapper d-flex flex-column flex-lg-row align-items-center justify-content-center">

      <div class="contact-info d-flex flex-column w-100 text-center mx-4 mb-5">
        <p class="contact-title"><strong>  Ne poţi găsi la: </strong></p>
        <ul class="ps-0">
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-solid fa-mobile-screen-button"></i>
              Mobil:
            </p>
            <a class="text-secondary link-warning" href="tel:0765429860" title="Call 0040765429860"> +40 765 429 860 </a>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-solid fa-envelope"></i>
              E-mail:
            </p>
            <a class="text-secondary link-warning" href="mailto:binta.claudia@gmail.com"> binta.claudia@gmail.com </a>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom">
            <p class="m-0">
              <i class="fa-brands fa-facebook"></i>
              Facebook:
            </p>
            <a class="text-secondary link-warning" href="https://www.facebook.com/instructortenisdemasasibiu" target="_blank"> /instructortenisdemasasibiu </a>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-regular fa-clock"></i>
              Program:
            </p>
            <p class="description m-0">
              Marţi 16:30 - 20:00
              <br>&nbsp;&nbsp;&nbsp;
              Joi 16:30 - 20:00
            </p>
          </li>
          <li class="d-flex justify-content-between align-items-center border-bottom py-1">
            <p class="m-0">
              <i class="fa-solid fa-location-dot"></i>
              Locaţia:
            </p>
            <a class="description text-secondary link-warning" href="https://goo.gl/maps/qDg4pNhqZoJK9GuZA" target="_blank"> August Treboniu Laurian 2-4, Sibiu </a>
          </li>
        </ul>
        <iframe
          class="google-maps border border-success rounded"
          src="https://maps.google.com/maps?q=Strada%20August%20Treboniu%20Laurian%202-4,%20Sibiu,%20Romania&t=&z=15&ie=UTF8&iwloc=&output=embed">
        </iframe>
      </div>

      <form 
        #form='ngForm'
        [formGroup]="contactForm"
        (ngSubmit)="formSubmit(form.value)"
        class="contact-form d-flex flex-column m-2 w-100">

        <p class="contact-form-title text-center"> <strong> Ne poţi scrie completând formularul: </strong></p>

        <label for="name"> Nume Prenume: </label>
        <input type="text"
          formControlName="name"
          name="name"
          placeholder="Ex: Popescu Ion"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(contactForm.controls.name.invalid && contactForm.controls.name.dirty)
            || (contactForm.controls.name.invalid && form.submitted)"
          class="alert alert-danger">
            Numele trebuie sa contina cel putin 3 caractere (fara cifre).
        </small>
        
        <label for="email"> Adresa de E-mail: </label>
        <input type="email"
          formControlName="email"
          name="email"
          placeholder="Ex: popescu.ion@gmail.com"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(contactForm.controls.email.invalid && contactForm.controls.email.dirty)
            || (contactForm.controls.email.invalid && form.submitted)"
          class="alert alert-danger">
            Te rog introdu un email valid.
        </small>

        <label for="subject"> Subiect: </label>
        <input type="text"
          formControlName="subject"
          name="subject"
          placeholder="Ex: Subiectul tău"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(contactForm.controls.subject.invalid && contactForm.controls.subject.dirty)
            || (contactForm.controls.subject.invalid && form.submitted)"
          class="alert alert-danger">
            Subiectul trebuie sa contina cel putin 5 caractere.
        </small>

        <label for="message"> Mesajul tău: </label>
        <textarea
          formControlName="message"
          name="message"
          placeholder="Mesajul tau aici.."
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''"> </textarea>
        <small
          *ngIf="(contactForm.controls.message.invalid && contactForm.controls.message.dirty)
            || (contactForm.controls.message.invalid && form.submitted)"
          class="alert alert-danger">
            Mesajul trebuie sa contina cel putin 20 caractere.
        </small>
        
        <app-button type="submit" title="TRIMITE"></app-button>
      </form>

    </div>
  </section>
</div>