<div *ngFor="let card of cardsData; let i = index" id="{{ card.id }}" class="container mb-4 pt-4 border border-1 rounded">
  <h2 class="title text-center">
    {{ 'Home.Card-' + (i+1) + '.title' | translate }}
    <h6 class="text-center" innerHTML="{{ 'Home.Card-' + (i+1) + '.title2' | translate }}"></h6>
  </h2>
  <img src="{{ card.imgSrc }}" alt="{{ 'Home.Card-' + (i+1) + '.imgAlt' | translate }}" class="w-100 rounded mb-4 mx-auto d-block">
  <div [ngClass]="{'text-center': card.id == 'cursuri'}" innerHTML="{{ 'Home.Card-' + (i+1) + '.text' | translate }}" class="text">
  </div>
  <!-- only visible for cursuri card -->
  <div *ngIf="card.id == 'cursuri'" class="scrolling-text-wrapper position-relative overflow-hidden border border-success rounded mx-auto mb-3">
    <p class="scrolling-text position-absolute text-nowrap"> {{ programsData }} </p>
  </div>
</div>
