/* || Cards */
.container {
  max-width: 95%;
}

img {
	filter: grayscale(70%);
  max-width: 500px;
}

	img:hover {
		filter: grayscale(0);
	}

	.scrolling-text-wrapper {
		height: 35px;
		width: min(400px, 90%);
	}
			
		.scrolling-text {
			line-height:35px;
			-webkit-animation: scroll-text 14s linear infinite; /* safari iOS */
			animation: scroll-text 14s linear infinite;
		}
	
				@-webkit-keyframes scroll-text {
					0% { -webkit-transform: translateX(50%); }
					100% { -webkit-transform: translateX(-100%); }
				}
				
				@keyframes scroll-text {
					0% { transform: translateX(50%); }
					100% { transform: translateX(-100%); }
				}

  /* || Desktop view */
	@media (min-width: 992px) {
		.container {
			display: grid;
			grid-template-areas:
				'image title'
				'image text'
				'image scrolling-text';
			gap: 1rem;
		}

			.container img {
				width: 400px;
				grid-area: image;
				align-self: center;
			}

			.container .title {
				grid-area: title;
				align-self: end;
			}
			
			.container .text {
				grid-area: text;
				align-self: center;
			}

			.container .scrolling-text-wrapper {
				grid-area: scrolling-text;
				align-self: start;
			}
	}