<!-- <div class="container mb-4 pt-4 border border-1 rounded">
  <h2 class="title text-center"> Care sunt beneficiile? </h2>
  <img src="https://firebasestorage.googleapis.com/v0/b/sa-project-11a2c.appspot.com/o/beneficii_tenis_de_masa_copii.jpg?alt=media&token=bf633d02-86b3-4585-a2f0-e0c5218de0b7" alt="Beneficii tenis de masa copii" class="w-100 rounded mb-4 mx-auto d-block">
  <p class="text">
    În ultima perioadă am fost întrebată la ce ajută acest sport și cum poate dezvolta el armonios 
    un copil, ”că doar primește o bilă și o paleta copilul și nimerește și el cum poate masa aia”.
    <br><br>
    Antrenamentul nostru este mai mult decât atât! Este construit din teme ce îi permit copilului 
    să-și dezvolte reacțiile și coordonarea întregului corp.
    <br><br>
    Un alt aspect important pentru noi îl 
    reprezintă încălzirea corpului, adică pregătirea lui pentru efort, un lucru esențial pentru 
    evitarea accidentărilor.
    <br><br>
    Continuăm cu exerciții pentru atenție și concentrare și ne înarmăm cu multă răbdare și cuvinte 
    de încurajare (copilul trebuie susținut, felicitat pentru fiecare reușită, ceea ce ar trebui să 
    facem cât mai des cu putință).
    <br><br>
    Antrenamentul se sfârșește doar după ce facem stretching (exerciții pentru flexibilitate, mobilitate 
    și pentru revenirea după efort).
  </p>
</div> -->

<div *ngFor="let card of cardsData" id="{{ card.id }}" class="container mb-4 pt-4 border border-1 rounded">
  <h2 class="title text-center">
    {{ card.title }}
    <h6 class="text-center" [innerHTML]="card.title2"></h6>
  </h2>
  <img src="{{ card.imgSrc }}" alt="{{ card.imgAlt }}" class="w-100 rounded mb-4 mx-auto d-block">
  <p [ngClass]="{'text-center': card.id == 'cursuri'}" [innerHTML]="card.text" class="text"></p>
  <!-- only visible for cursuri card -->
    <div *ngIf="card.id == 'cursuri'" class="scrolling-text-wrapper position-relative overflow-hidden border border-success rounded m-auto">
      <p class="scrolling-text position-absolute text-nowrap"></p>
    </div>
</div>