<div class="main" *ngIf="!(menuService.menuOpened$ | async)">
  
  <section class="welcome-section-25vh d-flex justify-content-center align-items-center">
    <div class="text-white">
      <h1> {{ 'Reset-Password.Welcome-Title' | translate }} </h1>
    </div>
  </section>

  <section class="section-50vh bg-white p-4 d-flex justify-content-center align-items-center">

    <div class="d-flex flex-column align-items-center justify-content-center">

      <p class="text-center"> <strong> {{ 'Reset-Password.Form.Title' | translate }}  </strong></p>
    
      <form 
        #form='ngForm'
        [formGroup]="resetForm"
        (ngSubmit)="formSubmit(form.value)"
        class="reset-form d-flex flex-column m-2 w-100"
      >

        <label for="email"> {{ 'Reset-Password.Form.Email.Label' | translate }} </label>
        <input type="email"
          formControlName="email"
          name="email"
          placeholder="{{ 'Reset-Password.Form.Email.Placeholder' | translate }}"
          class="p-2 border border-success rounded mb-2"
          [ngClass]="form.submitted ? 'ng-touched' : ''">
        <small
          *ngIf="(resetForm.controls.email.invalid && resetForm.controls.email.dirty)
            || (resetForm.controls.email.invalid && form.submitted)"
          class="alert alert-danger">
            {{ 'Reset-Password.Form.Email.Invalid-Message' | translate }}
        </small>
      
        <app-button type="submit" title="{{ 'Reset-Password.Form.Submit-Button-Text' | translate }}"></app-button>
      </form>

      <div>
        <span class="align-middle"> {{ 'Reset-Password.Go-Back' | translate }} </span>
        <span class="btn text-success link-warning" routerLink="/login"> {{ 'Reset-Password.Login' | translate }} </span>
      </div>

    </div>
  </section>
</div>