<div class="main" *ngIf="!menuOpened">
  
  <section class="welcome d-flex justify-content-center align-items-center">

    <div class="text-white">
      <h1> Thank You for Registering </h1>
    </div>

  </section>

  <section class="bg-white p-4">

    <div class="d-flex flex-column align-items-center justify-content-center">
      
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>
    
      <div class="formGroup">
        <button type="button" class="btn text-success link-warning" (click)="sendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>

      <div>
        <span class="align-middle">Go back to ?</span><span class="btn text-success link-warning" routerLink="/login"> Login </span>
      </div>

    </div>

  </section>

</div>