<footer [ngClass]="{'menu-open': (menuService.menuOpened$ | async)}" class="text-white">
  <div class="d-flex flex-column justify-content-center align-items-center">

    <form
      id="newsletter-form"
      class="d-flex flex-column align-items-center p-2"
      #form='ngForm'
      [formGroup]="newsletterForm"
      (ngSubmit)="formSubmit(form.value)"
    >

      <h3> {{ 'Footer.Newsletter.Title' | translate }} </h3>

      <input
        type="text"
        placeholder="{{ 'Footer.Newsletter.Name.Placeholder' | translate }}"
        id="name-newsletter"
        class="w-70 p-2 m-1 border border-success rounded"
        formControlName="name"
        name="name"
        [ngClass]="form.submitted ? 'ng-touched' : ''"
      >
      <small
        *ngIf="(newsletterForm.controls.name.invalid && newsletterForm.controls.name.dirty)
          || (newsletterForm.controls.name.invalid && form.submitted)"
        class="alert alert-danger">
          {{ 'Footer.Newsletter.Name.Invalid-Message' | translate }}
      </small>

      <input
        type="email"
        placeholder="{{ 'Footer.Newsletter.Email.Placeholder' | translate }}"
        id="email-newsletter"
        class="w-70 p-2 m-1 border border-success rounded"
        formControlName="email"
        name="email"
        [ngClass]="form.submitted ? 'ng-touched' : ''"
      >
        <small
          *ngIf="(newsletterForm.controls.email.invalid && newsletterForm.controls.email.dirty)
            || (newsletterForm.controls.email.invalid && form.submitted)"
          class="alert alert-danger">
            {{ 'Footer.Newsletter.Email.Invalid-Message' | translate }}
        </small>
        
        <app-button id="submit-newsletter" type="submit" title="{{ 'Footer.Newsletter.Submit-Button-Text' | translate }}"></app-button>
    </form>

    <div class="container d-flex flex-column align-items-center mt-4">
      <div class="d-flex">
        <div [ngClass]="{'menu-open': (menuService.menuOpened$ | async)}" class="footer-links d-flex">
          <div class="d-flex flex-column">
            <h3 class="fw-semibold"> {{ 'Footer.Links' | translate }} </h3>
            <a routerLink="/home" class="text-decoration-none text-white link-warning fw-semibold" (click)="scrollToTop()">
              <i class="fa-solid fa-chevron-right"></i>
              {{ 'General.Home' | translate }}
            </a>
            <a routerLink="/about" class="text-decoration-none text-white link-warning fw-semibold" (click)="scrollToTop()">
              <i class="fa-solid fa-chevron-right"></i>
              {{ 'General.About' | translate }}
            </a>
            <a routerLink="/contact" class="text-decoration-none text-white link-warning fw-semibold" (click)="scrollToTop()">
              <i class="fa-solid fa-chevron-right"></i>
              {{ 'General.Contact' | translate }}
            </a>
            <a routerLink="/my-account" class="text-decoration-none text-white link-warning fw-semibold" (click)="scrollToTop()">
              <i class="fa-solid fa-chevron-right"></i>
              {{ 'General.My-Account' | translate }}
            </a>
          </div>
        </div>
        <div class="d-flex ps-4 p-2 align-items-center">
          <div>
            <a href="https://www.facebook.com/instructortenisdemasasibiu" class="p-2" target="_blank">
              <i class="fa-brands fa-facebook-f fa-2x text-white link-warning text-decoration-none"></i>
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/claudia_antrenor_tenis_de_masa/" class="p-2" target="_blank">
              <i class="fa-brands fa-instagram fa-2x text-white link-warning text-decoration-none"></i>
            </a>
          </div>
          <div>
            <a href="https://wa.me/40765429860?text=Bună%20Claudia,%20te%20contactez%20în%20legătură%20cu%20" class="p-2" target="_blank">
              <i class="fa-brands fa-whatsapp fa-2x text-white link-warning text-decoration-none"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p class="text-center m-0 p-4"> {{ "Footer.Copyright-Text" | translate: {ownerName: ownerName, currentYear: currentYear} }} </p>
  </div>
</footer>