<div class="container text-center mb-3">
  <div class="card p-2">
    <div class="card-title d-flex justify-content-center align-items-center">
      <h5> {{ 'Contacts.Title' | translate }} </h5>
    </div>
    <div>
      <div class="card-table">
        <div class="cart-product table-responsive">
          <table class="table table-striped table-hover table-bordered align-middle table-sm">
            <thead>
              <tr class="align-middle">
                <th> Nr. </th>
                <th> {{ 'Contacts.Date' | translate }} </th>
                <th> {{ 'Contacts.Email' | translate }} </th>
                <th> {{ 'Contacts.Subject' | translate }} </th>
                <th> {{ 'Contacts.Replied' | translate }} </th>
                <th colspan="2"> {{ 'Contacts.Reply/Delete' | translate }} </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let contact of contacts; let i=index">
                <td> {{ i+1 }} </td>
                <td> {{ contact.dateSubmitted | date: 'yyyy/MM/dd'}} </td>
                <td> {{ contact.email }} </td>
                <td> {{ contact.subject }} </td>
                <td [ngClass]="{'table-danger': contact.reply == null}" > {{ contact.reply != null ? ('Contacts.Replied-Yes' | translate) :  ('Contacts.Replied-No' | translate) }} </td>
                <td>
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyModal" (click)="saveIdToChangeAfterConfirmation(contact)">
                    <i class="fa-solid fa-reply"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="saveIdToChangeAfterConfirmation(contact)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal and Form for replying to contact -->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"> </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form 
          #form='ngForm'
          (ngSubmit)="addReply(form.value)"
          [formGroup]="addReplyForm"
          class="d-flex flex-column align-items-center justify-content-center">
          <h2 class="fs-5"> {{ 'Contacts.Reply-Window.Title' | translate }} </h2>
          <div class="d-flex flex-column">
            <label class="text-start" for="name">
                <strong> {{ 'Contacts.Reply-Window.Name' | translate }} </strong>
                {{ contactReplyData.name }}
            </label>
            <label for="email">
              <strong> {{ 'Contacts.Reply-Window.Email' | translate }} </strong>
              {{ contactReplyData.email }}
            </label>
            <label for="date">
              <strong> {{ 'Contacts.Reply-Window.Date' | translate }} </strong>
              {{ contactReplyData.dateSubmitted | date: 'yyyy/MM/dd' }}
            </label>
            <label for="subject">
              <strong> {{ 'Contacts.Reply-Window.Subject' | translate }} </strong>
              {{ contactReplyData.subject }}
            </label>
            <label for="message">
              <strong> {{ 'Contacts.Reply-Window.Message' | translate }} </strong>
              {{ contactReplyData.message }}
            </label>
          </div>
          <label class="fs-5" for="reply">
            <strong> {{ 'Contacts.Reply-Window.Reply-Message' | translate }} </strong>
          </label>
          <textarea
            formControlName="reply"
            name="reply"
            id="reply-textarea"
            class="p-2 border border-success rounded mb-2"
            ngModel='{{ contactReplyData.reply }}'>
          </textarea>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"> {{ 'Contacts.Reply-Window.Button-Reply' | translate }} </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'Contacts.Reply-Window.Button-Cancel' | translate }} </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">  </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="delete-modal-body-height fs-5 row justify-content-center align-items-center"> {{ 'Contacts.Are-You-Sure-Delete' | translate }} </h2>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteContact()"> {{ 'Contacts.Button-Delete' | translate }} </button>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'Contacts.Button-Cancel' | translate }} </button>
        </div>
      </div>
    </div>
  </div>
</div>